<div class="component-title">
  Hello World
</div>

<div class="component-area">
  <h1 class="">
    {{title}}
  </h1>
</div>

<div class="component-title">
  Example of Data Binding
</div>

<div class="component-area">
  <app-data-binding-sample></app-data-binding-sample>
</div>

<div class="component-title">
  Example of Accordion
</div>

<div class="component-area">
  <app-accordion></app-accordion>
</div>

<div class="component-title">
  Example of Live Search
</div>

<div class="component-area">
  <app-livesearch></app-livesearch>
</div>
