<div class="m-l-40">
  <div id="accordion" role="tablist" aria-multiselectable="true">
    <div *ngFor="let panel of accordionPanels;" class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading{{panel.panelid}}">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{panel.panelid}}" aria-expanded="true" aria-controls="collapseONE">
            {{panel.title}}
          </a>
        </h4>
      </div>
      <div id="collapse{{panel.panelid}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingONE">
        {{panel.description}}
        <ul>
          <li *ngFor="let item of panel.list">{{item}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
