<div class="m-l-40">
  <span class="key">Full Name: </span>
    <span (click)="toggleEdit()"
      [class.clicked]="showDetail === true"
      class="value">
      {{contact.firstname}} {{contact.middlename}} {{contact.lastname}}
    </span>
  <div class="value-edit"*ngIf="showDetail === true">
    First Name: <input [(ngModel)]="contact.firstname" type="text">
    Middle Name: <input [(ngModel)]="contact.middlename" type="text">
    Last Name: <input [(ngModel)]="contact.lastname" type="text">
    <button class="btn btn-sm btn-secondary" (click)="toggleEdit()">Done</button>
  </div>
</div>
